<div style="text-align: center; margin-top: 2rem">
  {% if messages %}
    {% for message in messages %}
      <div class="message">
        {{ message|urlize }}
      </div>
    {% endfor %}
  {% endif %}
  <form method="post" enctype="multipart/form-data" name="upload">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="upload">Upload</button>
  </form>
  <form method="post" style="margin-top: 2rem">
    {% csrf_token %}
    <div>
    {% for video in videos %}
      <div>
        <input type="radio" name="videoId" value="{{ video.videoId }}" id="video-{{ video.videoId }}" required>
        <label for="video-{{ video.videoId }}">
          <strong>{{ video.title }}</strong> - {{ video.description }}
        </label>
        <div>
          <video src="{{ video.url }}" ></video>
        </div>
      </div>
    {% endfor %}
  </div>
    <input type="text" name="search" placeholder="Search">
    <button type="submit" name="action" value="search">Search</button>
  </form>

  {% if search_results %}
    <div>
      {% for result in search_results %}
        <div>
          <a href="{{ result.url }}">{{ result.url }}</a>
        </div>
        <div>
          {{ result.caption|safe }}
        </div>
        <div>
          {{ result.startTime }} -
          {{ result.endTime }}
        </div>
        <br/>
      {% endfor %}
    </div>
  {% endif %}
</div>