<div style="text-align: center; margin-top: 2rem">
  {% if messages %}
    {% for message in messages %}
      <div class="message">
        {{ message|urlize }}
      </div>
    {% endfor %}
  {% endif %}
  <form method="post" enctype="multipart/form-data" name="upload">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="upload">Upload</button>
  </form>
  <form method="post" style="margin-top: 2rem">
    {% csrf_token %}
    <div>
      {% for video in videos %}
        <div>
        {% if video.videoId == "60ac9f32ba0277aff210c61fd9e51884" %}
          <input type="radio" name="videoId" value="{{ video.videoId }}" id="video-{{ video.videoId }}" required checked>
        {% else %}
          <input type="radio" name="videoId" value="{{ video.videoId }}" id="video-{{ video.videoId }}" required>
        {% endif %}
          <label for="video-{{ video.videoId }}">
            <strong>{{ video.title }}</strong> - {{ video.description }}
          </label>
          <div>
            <video src="{{ video.url }}" controls width="25%"></video>
          </div>
        </div>
      {% endfor %}
    </div>
    <div style="width: 100%; padding-top: 2rem">
      <input type="text" name="search" placeholder="Search Keywords" style="width: 90%">
      <button type="submit" name="action" value="search"> Search </button>
    </div>
  </form>

  {% if search_results %}
    <div>
      {% for result in search_results %}
        <div>
          <a href="{{ result.url }}">{{ result.url }}</a>
        </div>
        <div>
          {{ result.caption|safe }}
        </div>
        <div>
          {{ result.startTime }} -
          {{ result.endTime }}
        </div>
        <br/>
      {% endfor %}
    </div>
  {% endif %}
</div>